/** CSS for the navigation bar **/

nav {
  height: 120px;
  width: 100%;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1.5em;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

nav i {
  color: red;
}

#tweet-on-left {
  font-family: 'Bungee', cursive;
}

#tweet-on-right {
  display: flex;
  flex-direction: column;
}

#tweet-on-right div:nth-of-type(2) {
  align-self: center;
}

/** For Tablet: minimum width of 768px to maximum width of 1024px **/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  nav {
    background-color: goldenrod;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    z-index: 1;
  }
  
}