/** CSS for the tweet submit form and tweet listing section **/
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

#tweet-text {
  background-color: #f4f1ec;
  border: none;
  resize: none;
  border-bottom: 4px solid #545149;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

footer.tweet-footer {
  font-family: 'Bungee';
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

#btn-tweet {
  background-color: #4056A1;
  color: #FFFFFF;
  border: none;
}

.btn-counter {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.counter {
  color: #545149;
}

.counter.exceed-limit {
  color: red;
}

article.tweet {
  height: 240px;
  padding: 1em;
  margin-top: 50px;
  margin-bottom: 40px;
  background-color: #f4f1ec;
  border: 4px solid #545149;
}

article.tweet:hover {
  box-shadow: 10px 10px 5px silver;
}

header.tweets-header {
  height: 150px;
  background-color: #f4f1ec;
  border-bottom: 4px solid #545149;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

div.user-profile {
  padding-left: 1em;
  padding-right: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

div.tweets-content {
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
}

span.user-photo-name img {
  margin-right: 10px;
}

span.user-profile-name {
  padding-bottom: 20px;
}

span.user-id {
  color: silver;
  font-weight: bold;
}

footer.tweet-desc-footer {
  font-family: 'Bungee';
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

div.tweets-time {
  padding-left: 1em;
  padding-right: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

div.tweets-time i {
  color: #4056A1;
}

div.tweets-time i:hover {
  color: goldenrod;
}

#tweet-error-empty {
  width: 100%;
  height: 45px;
  font-family: 'Source Sans Pro';
  color: red;
  background-color: #f4f1ec;
  text-align: start;
  border: 3px solid red;
  display: none;
}

#tweet-error-long {
  width: 100%;
  height: 45px;
  font-family: 'Source Sans Pro';
  color: red;
  background-color: #f4f1ec;
  text-align: start;
  border: 3px solid red;
  display: none;
}
